.chartSkills {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.tabsChart {
    display: flex;
    height: 20px;
    width: 100%;
}

.tabChart {
    color: var(--text-color-middle);
    padding-right: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.tabChart.active {
    color: var(--text-color-dark);
}

.chartSubtitle {
    font-size: 10px;
}

.tabContentChart {
    flex-grow: 1;
    padding-top: 4px;
    height: 100%;
    overflow: hidden;
}

.scrollableContent {
    height: 100%;
    overflow-y: auto;
}

.scrollableContent::-webkit-scrollbar {
    width: 7px;
}

.scrollableContent::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

.scrollableContent::-webkit-scrollbar-thumb {
    background: var(--background-tertiary);
    border-radius: 4px;
}

.scrollableContent::-webkit-scrollbar-thumb:hover {
    background: var(--background-quaternary-hover);
}